* {
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #292f33;
}

.main_div {
  width: 100%;
  height: 100vh;
  background-color: #292f33;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.center_div {
  border-top-left-radius: 42px;
  background-color: #55acee;
  height: 90vh;
  width: 50vh;
  margin-top: 20px;
}

.input {
  text-align: center;
  height: 60px;
  top: 20px;
  border: none;
  background: transparent;
  font-size: 40px;
  font-weight: 500;
  outline: #3f3351;
  outline-color: white;
}

button {
  margin-left: 8px;
  min-height: 20px;
  width: 30px;
  color: black;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #66757f;
}

ol {
  margin-top: 30px;
}

ol li {
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: whitesmoke;
  text-transform: capitalize;
}

.todo_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo_style .fa-times {
  height: 20px;
  width: 20px;
  margin-left: 8px;
  margin-right: 3px;
  margin-top: 2px;
  background-color: rgb(91, 92, 91);
  border-radius: 50%;
  display: inline-block;
}

.todo_style .fa-times:hover {
  background-color: red;
}

@media (max-width: 768px) {
  .center_div {
    width: 55%;
  }

  .todo_style .fa-times {
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    margin-left: 5px;
    min-height: 40px;
    width: 38px;
    color: black;
  }
}
